<!DOCTYPE html>
<html id="top" lang="en" ng-app="iamduc">
<head>
	<title>Duc N. Nguyen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="css/style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
						(i[r].q = i[r].q || []).push(arguments)
					}, i[r].l = 1 * new Date();
			a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-75416425-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>

<body ng-controller="IamducCtrl">
<noscript class="js-blocked">
	<img src="images/preloader.gif" alt="">
	<span>You don't have JavaScript enabled. <a href="https://twitter.com/duccuimia" target="_blank">Go to my blog.</a></span>
</noscript>
<noscript class="dropback-nojs"></noscript>
<div class="col-md-8 text-center wrapper">
	<div class="header">
		<h4 class="title" id="header-label">About me</h4>
	</div>
	<div class="content">

		<img src="https://s.gravatar.com/avatar/c36e222da47d2e0aae7b8fa912aad7ef?s=256"
		     name="aboutme" class="img-aboutme img-circle">
		<h2 class="media-heading padding">DUC N. NGUYEN
			<small>VN</small>
		</h2>
		<div class="skills">
			<span ng-repeat="skill in skills">
				<span class="label label-skill" ng-class="skill.color">{{skill.name}}</span>
			</span>
		</div>
		<hr>

		</p>
		<br>

	</div>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="carousel-caption">
					<p>I'm an iOS developer, web developer and freelancer also.</p>
				</div>
			</div>
			<div class="item ">
				<div class="carousel-caption">
					<p>I am a passionate about computers and problem solving.</p>
				</div>
			</div>
			<div class="item ">
				<div class="carousel-caption">
					<p>Learn anything from anyone – anywhere, love opensource.</p>
				</div>
			</div>
			<div class="item ">
				<div class="carousel-caption">
					<p>And want to make my career as a full stack developer.</p>
				</div>
			</div>
			<div class="item ">
				<div class="carousel-caption">
					<p>I'm an iOS developer, web developer and freelancer also.</p>
				</div>
			</div>
			<div class="item ">
				<div class="carousel-caption">
					<p>Don't fear, don't regret!</p>
				</div>
			</div>
		</div>
	</div>

	<div class=" container-fluid col-md-12 col-sm-9 col-xs-9">
		<div class="row col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="social-item text-center">
				<div class="icon-circle">
					<a ng-click="gotoPage('sk')" class="iSkype" title="Skype"><i
							class="fa fa-skype"></i></a>
				</div>
			</div>

			<div class="social-item text-center">
				<div class="icon-circle">
					<a ng-click="gotoPage('li')" class="iLinkedin" title="Linkedin"><i
							class="fa fa-linkedin"></i></a>
				</div>
			</div>

			<div class="social-item text-center">
				<div class="icon-circle">
					<a ng-click="gotoPage('gh')" class="iGithub" title="Github"><i
							class="fa fa-github"></i></a>
				</div>
			</div>

			<div class="social-item text-center">
				<div class="icon-circle">
					<a ng-click="gotoPage('fb')" class="ifacebook" title="Facebook"><i
							class="fa fa-facebook"></i></a>
				</div>
			</div>

			<div class="social-item text-center">
				<div class="icon-circle">
					<a ng-click="gotoPage('tt')" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a>
				</div>
			</div>

			<!--<div class="social-item text-center">-->
			<!--<div class="icon-circle">-->
			<!--<a ng-click="gotoPage('gp')" class="igoogle" title="Google+"><i-->
			<!--class="fa fa-google-plus"></i></a>-->
			<!--</div>-->
			<!--</div>-->
		</div>

	</div>

</div>

<script src="js/app.js"></script>
</body>
</html>
